<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
</head>
<body>
    <header>
        {% include 'layouts/header.html' %}
    </header>
    <h2>QUIENES SOMOS?</h2>
    <p>En mascotas loli nos dedicamos al cuidado de tu máscota desde los mejores piensos hasta 
        los mejores productos de estetica, si necesitas algún tipo de ayuda puedes contactarnos al: 888888888
        o ennviarnos un email a mascotasLoli@gmail.com
    </p>
    <footer>

    </footer>
</body>
</html>