<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas Loli</title>
</head>
<body>
    <header>
        <h1>Tienda</h1>
    </header>
    <hr>
    <table>
        <tr>
            <th>
                Listado de mascotas
            </th>
        </tr>
        <tbody>
            <tr>
                <td>comida para mascotas</td>
            </tr>
            <tr>
                <td>casas para mascotas</td>
            </tr>
            <tr>
                <td>juguetes para mascotas</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <footer>Copyright 2023 Juan Gil</footer>
</body>
</html>