
<body>
    <header>
        {% include 'layouts/header.html' %}
    </header>
    <table>
        <tr>
            <th>
                Listado de mascotas
            </th>
        </tr>
        <tbody>
            <tr>
                <td>comida para mascotas</td>
            </tr>
            <tr>
                <td>casas para mascotas</td>
            </tr>
            <tr>
                <td>juguetes para mascotas</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <footer>Copyright 2023 Juan Gil</footer>
</body>
</html>